In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sub_knn.csv')

In [3]:
df.head()

   row_id                          place_id
0       0  4393146716 6131996960 3831655216
1       1  2465239230 5801740503 4634106612
2       2  2516481553 7862615088 7295979691
3       3  7995458948 3243409743 5345410711
4       4  4764406629 8277155346 8711861736

In [4]:
df.shape

(8607230, 2)

In [ ]:
df['row_id'].max()

df['place_id'].head()

type(df['place_id'][2])

df['place_id'][2]

s = df['place_id'][2]

s.split(' ')[0]+(' '+'0')*2

In [5]:
def changer(string):
    return string.split(' ')[2]+(' '+'0')*2

In [6]:
df.place_id = df.place_id.map(changer)

In [7]:
df.head()

   row_id        place_id
0       0  3831655216 0 0
1       1  4634106612 0 0
2       2  7295979691 0 0
3       3  5345410711 0 0
4       4  8711861736 0 0

In [8]:
df.to_csv('only_third_loc.csv',index=False)