In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from scipy.stats import gaussian_kde
import time
%matplotlib inline

In [2]:
ftypes_train = dict(row_id=np.int32, x=np.float32, y=np.float32, accuracy=np.int32, time=np.int32, place_id=np.int64)
ftypes_group = dict(place_id=np.int64, group=np.int32)
df_train = pd.read_csv("train.csv", dtype=ftypes_train)
df_group = pd.read_csv("place_group.csv", dtype=ftypes_group)

In [3]:
df_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29118021 entries, 0 to 29118020
Data columns (total 2 columns):
place_id    int64
group       int32
dtypes: int32(1), int64(1)
memory usage: 333.2 MB

In [6]:
df_group.tail()

            place_id  group
29118016  4212392186      0
29118017  9762494481      0
29118018  3110194770      0
29118019  8262263483      1
29118020  8806200160      1

In [ ]:
pd.merge(df_train, df_group, on='place_id', how='outer')

In [ ]:
fin.isnull().sum(axis=0).tolist()

In [26]:
fin.tail()

            place_id  group
29118016  4212392186      0
29118017  9762494481      0
29118018  3110194770      0
29118019  8262263483      1
29118020  8806200160      1

In [27]:
fin.to_csv('place_group.csv',index=False)