In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from scipy.stats import gaussian_kde
import time
%matplotlib inline

In [2]:
ftypes_train = dict(place_id=np.int64)
#ftypes_test = dict(row_id=np.int32, x=np.float32, y=np.float32, accuracy=np.int32, time=np.int32)
df_train = pd.read_csv("train.csv", usecols=['place_id'], dtype=ftypes_train)
#df_test = pd.read_csv("test.csv", dtype=ftypes_test)

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29118021 entries, 0 to 29118020
Data columns (total 1 columns):
place_id    int64
dtypes: int64(1)
memory usage: 222.2 MB

In [4]:
df_train.head()

     place_id
0  8523065625
1  1757726713
2  1137537235
3  6567393236
4  7440663949

In [5]:
df = pd.DataFrame(df_train['place_id'].value_counts())

In [6]:
df.head()

            place_id
8772469670      1849
1623394281      1802
1308450003      1757
4823777529      1738
9586338177      1718

In [7]:
df.reset_index(level=0, inplace=True)

In [8]:
df.head()

        index  place_id
0  8772469670      1849
1  1623394281      1802
2  1308450003      1757
3  4823777529      1738
4  9586338177      1718

In [9]:
df.shape

(108390, 2)

In [10]:
df.columns = ['place_id','count']

In [11]:
df.head()

     place_id  count
0  8772469670   1849
1  1623394281   1802
2  1308450003   1757
3  4823777529   1738
4  9586338177   1718

In [12]:
#df.iloc[range(0,108390,2)].tail()
df['group'] = 1234
#df.iloc[range(0,108390,2)] =

In [13]:
df1 = df.iloc[range(0,108390,2)]
df2 = df.iloc[range(1,108390,2)]
#df.iloc[range(1,108390,2)]['group'] = 1

In [14]:
df1['group'] = 0
df2['group'] = 1

/home/ds/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/ds/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [15]:
df_new = df1.append(df2,ignore_index=False)

In [16]:
df_new.sort_index(inplace=True)

In [17]:
df_new.head()

     place_id  count  group
0  8772469670   1849      0
1  1623394281   1802      1
2  1308450003   1757      0
3  4823777529   1738      1
4  9586338177   1718      0

In [19]:
df_new.columns

Index([u'place_id', u'count', u'group'], dtype='object')

In [21]:
df_new.drop(['count'],axis=1,inplace=True)

In [22]:
df_new.head()

     place_id  group
0  8772469670      0
1  1623394281      1
2  1308450003      0
3  4823777529      1
4  9586338177      0

In [23]:
fin = pd.merge(df_train, df_new, on='place_id', how='outer')

In [24]:
fin.isnull().sum(axis=0).tolist()

[0, 0]

In [26]:
fin.tail()

            place_id  group
29118016  4212392186      0
29118017  9762494481      0
29118018  3110194770      0
29118019  8262263483      1
29118020  8806200160      1

In [27]:
fin.to_csv('place_group.csv',index=False)