In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from scipy.stats import gaussian_kde
import time
%matplotlib inline

In [2]:
ftypes_train = dict(row_id=np.int32, x=np.float32, y=np.float32, accuracy=np.int32, time=np.int32, place_id=np.int64)
ftypes_test = dict(row_id=np.int32, x=np.float32, y=np.float32, accuracy=np.int32, time=np.int32)
train = pd.read_csv("train.csv", dtype=ftypes_train)
test = pd.read_csv("test.csv", dtype=ftypes_test)

In [3]:
train.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [4]:
train['time'] = np.floor(train['time']/60) % 24
#train[['time']]=train[['time']]/24*10
test['time'] = np.floor(test['time']/60) % 24
#test[['time']]=test[['time']]/24*10

In [5]:
train['time'].max()

23.0

In [6]:
Y = train['place_id']
train = train.drop(['place_id','accuracy','row_id'],axis=1)

In [7]:
train.head()

        x       y  time
0  0.7941  9.0809  21.0
1  5.9567  4.7968  13.0
2  8.3078  7.0407   1.0
3  7.3665  2.5165   7.0
4  4.0961  1.1307  20.0

In [8]:
train[['x', 'y']] = train[['x', 'y']].astype(np.float32)

In [9]:
train[['time']] = train[['time']].astype(np.int32)

In [11]:
train['place_id'] = Y

In [12]:
train[['place_id']] = train[['place_id']].astype(np.int64)

In [14]:
train.dtypes

x           float32
y           float32
time          int32
place_id      int64
dtype: object

In [15]:
train.to_csv('maha_train.csv',index=False)