In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from scipy.stats import gaussian_kde
import time
%matplotlib inline

In [2]:
#ftypes_train = dict(x=np.float32, y=np.float32, time=np.int32, place_id=np.int64)
ftypes_X = dict(x=np.float32, y=np.float32, time=np.int32, place_id=np.int64)
#ftypes_Y = dict(place_id=np.int64)
X = pd.read_csv("maha_train.csv", usecols=['x','y','time','place_id'], dtype=ftypes_X)
#Y = pd.read_csv('maha_train.csv', usecols=['place_id'], dtype=ftypes_Y)

In [4]:
X.head()

        x       y  time    place_id
0  0.7941  9.0809    21  8523065625
1  5.9567  4.7968    13  1757726713
2  8.3078  7.0407     1  1137537235
3  7.3665  2.5165     7  6567393236
4  4.0961  1.1307    20  7440663949

In [15]:
dfv = pd.DataFrame(X['place_id'].value_counts())

In [22]:
dfv['index'] = X['place_id'].value_counts().index

In [27]:
dfv = dfv.reset_index()

In [32]:
dfv.drop(['level_0'],axis=1,inplace=True)

In [33]:
dfv.head()

   place_id       index
0      1849  8772469670
1      1802  1623394281
2      1757  1308450003
3      1738  4823777529
4      1718  9586338177

In [35]:
dfv.columns = ['count','place']

In [46]:
dfv.head()

   count       place
0   1849  8772469670
1   1802  1623394281
2   1757  1308450003
3   1738  4823777529
4   1718  9586338177

In [47]:
#X['place_id'][dfv[dfv['count']<2]['place']].dropna()
YY = X[X['place_id'].isin(dfv[dfv['count']>5]['place'])]

In [51]:
YY[['x', 'y']] =YY[['x', 'y']].astype(np.float32)
YY[['time']] = YY[['time']].astype(np.int32)
YY[['place_id']] = YY[['place_id']].astype(np.int64)

/home/ds/anaconda2/lib/python2.7/site-packages/pandas/core/frame.py:2369: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [55]:
YY.dtypes

x           float32
y           float32
time          int32
place_id      int64
dtype: object

In [56]:
YY.to_csv('with_rare_places_removed_train.csv',index=False)