In [1]:

import numpy as np
import pandas as pd

In [2]:
"""
"""
print('Loading data ...')
df1 = pd.read_hdf('1234predictedplaces.h5','table')
df2 = pd.read_hdf('1234todoAnalysis.h5','table')

Loading data ...

In [3]:
df2.head()

,l1,l2,l3,diff12,diff23,AllRatio12,AllRatio23,gridRatio12,gridRatio23
0,0.308713,0.154834,0.137801,0.153880,0.017033,0.378261,2.527473,0.364035,2.651163
1,0.242668,0.151991,0.116748,0.090677,0.035243,6.360248,0.964072,13.683333,2.857143
2,0.394223,0.278302,0.110240,0.115921,0.168062,0.081166,1.385371,0.085125,4.229091
3,0.665965,0.166739,0.048985,0.499226,0.117754,1.337700,5.204545,0.842640,56.285714
4,0.876901,0.087552,0.035546,0.789349,0.052006,3.884146,0.286713,4.193548,0.968750

In [22]:
idxgrid12 = df2.loc[(df2["diff12"]<0.05) & (df2["gridRatio12"]>5)].index
idxall12 = df2.loc[(df2["diff12"]<0.05) & (df2["AllRatio12"]>5)].index
idxgrid23 = df2.loc[(df2["diff23"]<0.05) & (df2["gridRatio23"]>5)].index
idxall23 = df2.loc[(df2["diff23"]<0.05) & (df2["AllRatio23"]>5)].index

In [23]:
idxgrid12.shape[0]/float(df2.shape[0]),idxgrid12.shape

(0.01494813081560502, (128662,))

In [24]:
idxall12.shape[0]/float(df2.shape[0]),idxall12.shape

(0.01328778248054252, (114371,))

In [25]:
idxgrid23.shape[0]/float(df2.shape[0]),idxgrid23.shape

(0.09520774976386132, (819475,))

In [26]:
idxall23.shape[0]/float(df2.shape[0]),idxall23.shape

(0.05517593929754404, (474912,))

In [27]:
idxunion12 = idxgrid12.union(idxall12)
idxunion23 = idxgrid23.union(idxall23)

In [32]:
idxdiff = idxunion23.difference(idxunion12)

In [35]:
idxdiff

Int64Index([      7,      33,      37,      44,      60,      77,      84,
                 87,      93,     107,
            ...
            8607134, 8607157, 8607158, 8607174, 8607192, 8607203, 8607215,
            8607218, 8607221, 8607222],
           dtype='int64', length=1013906)

In [36]:
df1.loc[idxunion12,['l1','l2']] = df1.loc[idxunion12,['l2','l1']].values

In [37]:
df1.loc[idxdiff,['l2','l3']] = df1.loc[idxdiff,['l3','l2']].values
#df1.loc[idxgrid,['l1','l2']] = df1.loc[idxgrid,['l2','l1']].values

In [38]:
dff = pd.read_hdf('1234predictedplaces.h5','table')

In [39]:
df1.head()

           l1          l2          l3
0  4393146716  6131996960  3831655216
1  2465239230  5801740503  4634106612
2  2516481553  7862615088  7295979691
3  7995458948  3243409743  5345410711
4  4764406629  8277155346  8711861736

In [56]:
idxdiff.intersection(idxunion12)

Int64Index([], dtype='int64')

In [54]:
dff.loc[8607157]

l1    1308650601
l2    5402692475
l3    1885511034
Name: 8607157, dtype: int64

In [55]:
df1.loc[8607157]

l1    1308650601
l2    1885511034
l3    5402692475
Name: 8607157, dtype: int64

In [57]:
df1.to_hdf('predictedplacesreplaced__union_intersection12_23.h5','table')